/*
 * COLOR
 */
/*
#009E60
#1B4D3E
#50C878
#F2F2F2
#0D0D0D
*/

#re_content h1{
  text-align:center;
}

#re_co_time{
  background-color:#50C878;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:20px;
  font-size:x-large;
  font-weight:bold;
  text-align:center;
}

#re_co_entry{
  padding-top:20px;
  margin-bottom:20px;
  border-left:1px dotted #009E60;
}

#re_co_entry a{
  text-decoration:none;
}

#re_co_en_de_title{
  font-size:large;
  font-weight:bold;
  color:#403123;
  margin-bottom:20px;
}

.projects > h3 {
  color: #009E60;
  margin-top: 40px;
}

h4.title {
  margin-bottom: 0;
}

p.info {
  line-height: 1.25em;
  margin-bottom: 0.25em;
}

p.info span {
  vertical-align: top;
}

h3 i span {
  padding-left: 0.5em;
  vertical-align: top; 
}

i.inactive {
  color:#ccc;
}
