/*
 * COLOR
 */
/*
NEW
#9E1A00
#FF4019
#EB2600
#009E60
#00EB8E
*/

h1.welcome {
  text-align: center;
  font-size: x-large;
}

h1.welcome:hover,
h1.welcome:focus {
  text-align: center;
  font-size: x-large;
  text-shadow: 0 0 6px #FFD500;
  color: #FFD500;
}

div.feature-img > img{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.projects > h3 {
  margin-top: 40px;
}

div.entry {
  padding-top: 1em;
}

h3 {
  font-size: large;
}

h4 {
  font-size: medium;
}

h4.title {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

p {
  line-height: 1.25em;
  margin-bottom: 0.1em;
}

p.info i {
  padding-right: 0.5em;
}

p.info span {
  vertical-align: top;
}

i.inactive {
  color:#ccc;
}

.feature {
  margin: 0.5em;
  padding: 0.5em;
}