---
layout: default
title: Xiaolong ZHU (朱曉龍)
extra_css:
- /css/index.css
extra_js_bottom:
- /js/index.js
---
<!--hero unit-->
<div class="row">
  <div class="large-12 columns">
    <div class="slideshow-wrapper">
      <div><img src="/img/feature/zxl.png" alt="portrait"></div>
    </div>
  </div>
</div>
<!--content-->
<div class="row">
  <!-- Left Panel -->
  <div class="large-8 columns">
    <!-- intro -->
    <div class="row">
      <div class="large-12 columns">
        <h5>Bio</h5>
        <p>I am a Ph.D student in <a href="http://www.cs.hku.hk">Department of Computer Science</a>, <a href="http://www.hku.hk">The University of
        Hong Kong</a>. <a href="http://i.cs.hku.hk/~kykwong/">Dr. Kenneth Wong</a> is my current supervisor. My reseach interest is to bring practical machine methods to computer vision research.
        </p>
        <p>I am working on hand detection and localization for color cameras. Before this, most of my work was to recognize hand postures based on a depth camera. More details are in <a href="/projects">my research page</a>.
        </p>
      </div>
    </div>
    <!-- news -->
    <div class="row">
      <div class="large-12 columns">
        <h5>Updates</h5>
      </div>
      <table class="responsive large-12 columns">
        <tbody>
          {% for post in site.posts limit:10 %}
            <tr class="post-{{ post.category }}">
              {% if post.show_url == nil %}
                {% if post.external_url == nil %}
                  <td><abbr>{{ post.date | date_to_string }}</abbr></td><td>{{ post.title }}</td>
                {% else %}
                  <td><abbr>{{ post.date | date_to_string }}</abbr></td><td><a href="{{ post.external_url }}">{{ post.title }}</a></td>
                {% endif %}
              {% else %}
                {% if post.external_url == nil %}
                  <td><abbr>{{ post.date | date_to_string }}</abbr></td><td><a href="{{ post.url }}">{{ post.title }}</a></td>
                {% else %}
                  <td><abbr>{{ post.date | date_to_string }}</abbr></td><td><a href="{{ post.external_url }}">{{ post.title }}</a></td>
                {% endif %}
              {% endif %}
            </tr>
          {% endfor %}
          <tr><td></td><td style="text-align:right"><a href="update.html">More...</a></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Left Panel -->
  <div class="large-4 columns">
    <!-- contact -->
    <div class="row">
      <div class="large-12 columns">
        <h5>Contact</h5>
        <p>
        <a href="http://www.maps.hku.hk/"><img src="/img/cyc.png"/></a>
        </p>
        <p>
        <a href="mailto:xlzhu@cs.hku.hk"><i class="fi-mail"></i>: Xiaolong ZHU, 朱曉龍</a> <br/>
        Room 411, <a href="https://maps.google.com/maps/place?ftid=0x3403ff85af39c74f:0x93c69a89bd6805ec&q=%E9%A6%99%E6%B8%AF%E5%A4%A7%E5%AD%A6%E5%91%A8%E4%BA%A6%E5%8D%BF%E6%A5%BC&hl=zh-CN&ie=UTF8&ll=22.283099,114.135435&spn=0.00001,0.000011&t=m&z=17&vpsrc=0">Chow Yei Ching Building</a>, <br/>
        Department of Computer Science, <br/>
        The University of Hong Kong, <br/>
        Pokfulam Road, Hong Kong SAR. <br/>
        </p>
      </div>
    </div>
    <!-- Notice -->
    <div class="row">
      <div class="large-12 columns">
        <p class="notice-bold">I am looking for jobs related to computer vision and machine learning. You may find my CV below.</p>
        <ul>
          <li><a href="/hireme/xiaolongzhu_cv.pdf"><i class="fi-archive"></i>English</a></li>
          <li><a href="/hireme/xiaolongzhu_cv-cn.pdf"><i class="fi-archive"></i>简体中文</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>