---
layout: default
title: My life streaming
extra_css:
- /css/index.css
---
<!--hero unit-->
<div class="row">
  <div class="large-12 columns">
    <div class="slideshow-wrapper">
      <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <img src="/css/hiking.png" alt="slide image">
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- news -->
<div class="row">
  <div class="large-12 columns">
    <h6>Photostream</h6>
    <p>I take photos. Some are in <a href="http://www.flickr.com/photos/xlzhu/"><i class="fi-social-flickr">flickr</i></a>.</p>
  </div>
  <div class="large-12 columns">
    <h6>Lifestream</h6>
  </div>
  <table class="responsive large-12 columns">
    <tbody>
      {% for post in site.posts %}
      <tr class="post-{{ post.category }}">
        {% if post.show_url == nil %}
          {% if post.external_url == nil %}
          <td><abbr>{{ post.date | date_to_string }}</abbr></td><td>{{ post.title }}</td>
          {% else %}
          <td><abbr>{{ post.date | date_to_string }}</abbr></td><td><a href="{{ post.external_url }}">{{ post.title }}</a></td>
          {% endif %}
        {% else %}
          {% if post.external_url == nil %}
          <td><abbr>{{ post.date | date_to_string }}</abbr></td><td><a href="{{ post.url }}">{{ post.title }}</a></td>
          {% else %}
          <td><abbr>{{ post.date | date_to_string }}</abbr></td><td><a href="{{ post.external_url }}">{{ post.title }}</a></td>
          {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
      <!--
      <tr><td>Jul 18, 2013</td><td>Attend Jethro's wedding ceremony as a witness.</td></tr>
      <tr><td>Jul 11, 2013</td><td>Read <a href="http://blog.sina.com.cn/s/blog_6e8e05ac0100wu4h.html">an inspiring article</a> about life.</td></tr>
      <tr><td>Jul 8, 2013</td><td>Get a good idea in Lenovo IVC lab.<i class="general foundicon-idea"></i></td></tr>
      <tr><td>Jul 1, 2013</td><td>Celebrate Hao's graduation in Xiamen.</td></tr>
      <tr><td>Jun 26, 2013</td><td>Use Digg reader as Google reader's alternative.</td></tr>
      <tr><td>Jun 16, 2013</td><td>Yunfei visits Hong Kong.</td></tr>
      <tr><td>Jun 13, 2013</td><td>Upgrade to iOS 7 and downgrade it.</td></tr>
      <tr><td>Jun 12, 2013</td><td>Last trip to Wuhan.</td></tr>
      <tr><td>Jun 5, 2013</td><td>Join Lenovo's IVC Lab in Hong Kong for 3 months.</td></tr>
      <tr><td>Jun 1, 2013</td><td>Enjoy Hao's concert in Xiamen.<i class="social foundicon-thumb-up"></i></td></tr>
      <tr><td>May 31, 2013</td><td>Buy a powerful dehumidifier.</td></tr>
      <tr><td>May 24, 2013</td><td>Get re-admitted in Residential College.</td></tr>
      <tr><td>May 19, 2013</td><td>Watch the live of <a href="http://weibo.com/haoyunblog">Hao Yun (郝云)</a> in Midi music festival (迷笛音乐节) in Shenzhen.<i class="general foundicon-heart"></i></td></tr>
      <tr><td>May 18, 2013</td><td>Last day of TA this year.</td></tr>
      <tr><td>May 11, 2013</td><td>Birthday in Shenzhen.</td></tr>
      <tr><td>May 4, 2013</td><td>Paper gets rejected.</td></tr>
      <tr><td>May 3, 2013</td><td>Buy first iOS game, the OLO game. <i class="social foundicon-thumb-up"></i></td></tr>
      <tr><td>Mar 20, 2013</td><td>HKU tutor team visit.</td></tr>
      <tr><td>Mar 4, 2013</td><td>Join HKU marathon support team.</td></tr>
      <tr><td>Mar 1, 2013</td><td>Attend Spring Reception in the University Lodge.</td></tr>
      <tr><td>Feb 24, 2013</td><td>Join Hong Kong U Marathon support team.</td></tr>
      <tr><td>Feb 23, 2013</td><td>HKUPGSA Spring Tea Reception (春茗).</td></tr>
      <tr><td>Feb 7, 2013</td><td>Back home for Chinese New Year.</td></tr>
      <tr><td>Jan 27, 2013</td><td>Read The Legend of the Condor Heroes (射雕英雄傳).</td></tr>
      <tr><td>Jan 2, 2013</td><td>My iPhone 3GS get retired.</td></tr>
      <tr><td>The Year 2012</td></tr>
      <tr><td>Dec 23, 2012</td><td>Redesign the responsive website in <a href="http://foundation.zurb.com">Foundation</a> framework.</td></tr>
      <tr><td>Dec 2, 2012</td><td>Attend Jack's wedding ceremony.</td></tr>
      <tr><td>Nov 11, 2012</td><td>Attend ICPR 2012 in Tsukuba, Japan</td></tr>
      <tr><td>Nov 4, 2012</td><td><i class="general foundicon-compass"></i> Hike 50km in 16 hours, Hong Kong</td></tr>
      <tr><td>Sep 22, 2012</td><td>Final presentation in the HCI group. I love this field <i class="general foundicon-heart"></i></td></tr>
      <tr><td>Jun 9, 2012</td><td>Intern in the HCI group of MSRA, Beijing, China</td></tr>
      -->
    </tbody>
  </table>
</div>