---
layout: default
---
<!--hero unit-->
<div class="row">
    <div class="large-12 columns">
        <div class="slideshow-wrapper">
            <div class="preloader"></div>
            <ul data-orbit>
                {% if page.featured_images == nil %}
                <li>
                    <img src="http://placehold.it/1204x496&text={{page.title}}" alt="slide image">
                </li>
                {% else %}
                {% for featured_image in page.featured_images %}
                <li>
                    <img src="{{ featured_image }}" alt="slide image">
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- content -->
<div class="row">
    <div class="large-12 columns">
        {{ content }}
    </div>
</div>