---
layout: default
---

<div class="row">
    <div class="large-12 columns">
        <hr>
        {% if page.featured_images != nil %}
        <div class="slideshow-wrapper">
            <div class="preloader"></div>
            {% for featured_image in page.featured_images %}
            <div><img src="{{ featured_image }}" alt="slide image"></div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div> 

<!-- post -->
<div class="row post-content">
    <div class="large-12 columns">
        <h1 class="title">{{ page.title }}</h1>
        <p id="subtitletrans" class="subtitlecontainer">
        <i class="fi-calendar"></i> <a class="subtitle">{{ page.date | date: "%B %d, %Y" }}</a>
        {% if page.author %} | <i class="fi-torso"></i> <a class="subtitle" href="{{ site.baseurl }}/">{{ page.author }}</a>{% endif %}
        {% assign tags_list = site.tags %}
        {% if site.tags %} 
        | <i class="fi-pricetag-multiple"></i>
        {% for tag in site.tags %}
        <a class="subtitle">{{ tag[0] }}</a>
        {% endfor %}
        {% endif %}
        </p>
        {{ content }}
    </div>
</div>