---
layout: default
---

<div class="row">
    <div class="large-12 columns">
        <hr>
        {% if page.featured_images != nil %}
        <div class="slideshow-wrapper">
            <div class="preloader"></div>
            {% for featured_image in page.featured_images %}
            <div><img src="{{ featured_image }}" alt="slide image"></div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div> 

<!-- post -->
<div class="row">
    <div class="large-12 columns">
        <h3>{{ page.title }}</h3>
        <h6 class="post-time">Updated on {{ page.date | date_to_string }}</h6>
        {{ content }}
    </div>
</div>