---
layout: default
extra_css:
- /css/index.css
- /css/post.css
---
<!--hero unit-->
<div class="row">
    <div class="large-12 columns">
        <div class="slideshow-wrapper">
            <div class="preloader"></div>
            <ul data-orbit>
                {% if page.featured_images == nil %}
                <li>
                    <img src="/css/post_default.png" alt="slide image">
                </li>
                {% else %}
                {% for featured_image in page.featured_images %}
                <li>
                    <img src="{{ featured_image }}" alt="slide image">
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- post -->
<div class="row">
    <div class="large-12 columns">
        <h3>{{ page.title }}</h3>
        <h6 class="post-time">Updated on {{ page.date | date_to_string }}</h6>
        {{ content }}
    </div>
</div>